* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

input,
button,
li,
ul {
  border: none;
  font-size: 100%;
  font: inherit;
}

li,
ul {
  list-style: none;
  padding: none;
}
